body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 12px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
  padding: 12px 8px;
}

.button-container {
  background: #e3f4ff;
  padding: 12px;
  margin-top: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin:  auto;
  padding: 8px 20px;
}

p, h1{
  font-size: 16px;
  padding: 8px;
}
